#!/bin/bash

export AWS_PROFILE={{ AWS_PROFILE }}
export AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
export AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
export OPENSHIFT_INSTALL_SSH_PUB_KEY="$(<~/.ssh/id_rsa_perf.pub)"
export OPENSHIFT_INSTALL_AWS_REGION={{ OPENSHIFT_INSTALL_AWS_REGION }}
export GOPATH="{{ GOPATH }}"
export OPENSHIFT_INSTALL_PLATFORM="{{ OPENSHIFT_INSTALL_PLATFORM }}"
export OPENSHIFT_INSTALL_BASE_DOMAIN={{ OPENSHIFT_INSTALL_BASE_DOMAIN }}
export OPENSHIFT_INSTALL_CLUSTER_NAME="{{ OPENSHIFT_INSTALL_CLUSTER_NAME }}"
export OPENSHIFT_INSTALL_PULL_SECRET_PATH="{{ OPENSHIFT_INSTALL_PULL_SECRET_PATH }}"
export OPENSHIFT_INSTALL_EMAIL_ADDRESS="{{ OPENSHIFT_INSTALL_EMAIL_ADDRESS }}"
export OPENSHIFT_INSTALL_PASSWORD="{{ OPENSHIFT_INSTALL_PASSWORD }}"
